@font-face {
  font-family: 'Fira sans';
  src: url("../fonts/FiraSans-BoldItalic.ttf");
  src: local("Fira sans Bold Italic"), local("Fira sans Bold Italic"), url("MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-BoldItalic.woff") format("woff"), url("FiraSans-BoldItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Regular.ttf");
  src: local("Myriad Pro Regular"), local("MyriadPro-Regular"), url("MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url("ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("../fonts/AvenirNextCyr-Medium.eot");
  src: local("Avenir Next Cyr Medium"), local("AvenirNextCyr-Medium"), url("AvenirNextCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Medium.woff") format("woff"), url("AvenirNextCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select {
  vertical-align: middle;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

li {
  list-style: none;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  padding-left: 48px;
  padding-right: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  max-width: 1170px;
  margin: 0 auto;
  overflow: hidden;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__group {
  position: relative;
}

.form__group:first-child::after {
  content: "";
  bottom: 6px;
  right: 4px;
  position: absolute;
  height: 32px;
  width: 2px;
  background-color: #e9e9e9;
}

.form__group:nth-child(2) {
  padding-left: 23px;
  margin-right: 10px;
}

.form__group:nth-child(2)::after {
  content: "";
  bottom: 16px;
  right: 16px;
  position: absolute;
  height: 3px;
  width: 3px;
  background-color: #9a9a9a;
}

.form__group:nth-child(2) img {
  padding-bottom: 8px;
}

.form__group:nth-child(3) {
  margin-right: 50px;
}

.form__group:nth-child(3)::after {
  content: "";
  bottom: 8px;
  right: -21px;
  position: absolute;
  height: 32px;
  width: 2px;
  background-color: #e9e9e9;
}

.form__group:nth-child(4) {
  padding-right: 10px;
  margin-right: 28px;
}

.form__group:nth-child(5) {
  padding-right: 10px;
  margin-right: 23px;
}

.form__group:nth-child(5) button {
  right: 14px;
}

.form__group:nth-child(6) button {
  right: -16px;
}

.form__subtitle {
  font-family: 'Myriad Pro';
  font-size: 12px;
  color: #232323;
}

.form__ico {
  vertical-align: middle;
}

.form__input--location {
  font-family: 'Fira sans';
  font-size: 18px;
  color: #6b6b6b;
  background: 0 0;
  border: none;
  outline: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-top: 4px;
  padding-bottom: 4px;
}

.form__title--text {
  font-family: 'Proxima Nova Rg';
  font-size: 12px;
  color: #232323;
  line-height: 23px;
}

.form__input--text,
.form__input--select {
  font-family: 'Fira sans';
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
  color: #383838;
  background: 0 0;
  border: none;
  outline: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 150px;
  margin-bottom: 7px;
}

.form__input--text::-webkit-input-placeholder {
  font-family: 'Fira sans';
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
  color: #383838;
}

.form__input--text::-moz-placeholder {
  font-family: 'Fira sans';
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
  color: #383838;
}

.form__input--text:-ms-input-placeholder {
  font-family: 'Fira sans';
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
  color: #383838;
}

.form__input--text::-ms-input-placeholder {
  font-family: 'Fira sans';
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
  color: #383838;
}

.form__input--text::placeholder {
  font-family: 'Fira sans';
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
  color: #383838;
}

.form__input--select {
  cursor: pointer;
}

.form__title--num {
  font-family: 'Myriad Pro';
  font-size: 12px;
  color: #232323;
}

.form__input--num {
  font-family: 'Avenir Next Cyr';
  font-size: 16px;
  color: #8b9198;
  background: 0 0;
  border: 1px solid #8b9198;
  outline: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 3px;
  text-align: center;
}

.form__input--num::-webkit-outer-spin-button,
.form__input--num::-webkit-inner-spin-button {
  display: none;
}

.form-add {
  width: 35px;
  height: 35px;
  position: relative;
  background-color: #fed18c;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 40px;
}

.form-add::after,
.form-add::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 3px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
}

.form-add::after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
      -ms-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.form-btn {
  font-family: 'Proxima Nova Rg';
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  width: 175px;
  height: 63px;
  line-height: 63px;
  background-color: #ed9915;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  text-transform: uppercase;
  margin-left: 20px;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

.form-btn:hover {
  background-color: #c07b0f;
}

.form-btn:focus {
  background-color: #c07b0f;
}

.number-minus,
.number-plus {
  position: absolute;
  right: 3px;
  width: 10px;
  height: 7px;
  cursor: pointer;
  border: none;
  z-index: 5;
}

.number-plus {
  top: 17px;
  background: url("../images/plus.png");
}

.number-minus {
  bottom: 1px;
  background: url("../images/minus.png");
}

@media (max-width: 1165px) {
  .wrapper {
    padding-left: 15px;
  }

  .form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1130px) {
  .form-btn {
    margin-top: 30px;
  }
}

@media (max-width: 940px) {
  .wrapper {
    padding-right: 30px;
  }

  .form-add {
    margin-top: 26px;
  }
}

@media (max-width: 870px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form__group {
    text-align: center;
    margin-bottom: 10px;
  }

  .form__group:first-child::after {
    display: none;
  }

  .form__group:nth-child(2)::after {
    display: none;
  }

  .form__group:nth-child(3) {
    margin-right: 0;
  }

  .form__group:nth-child(3)::after {
    display: none;
  }

  .form__group:nth-child(4) {
    margin: 10px 0px 0px 0px;
    padding: 0;
  }

  .form__group:nth-child(5) button {
    right: -11px;
  }

  .form__group:nth-child(5) {
    margin: 10px 0px 0px 0px;
    padding: 0;
  }

  .form__group:nth-child(6) {
    margin: 10px 0px 0px 0px;
    padding: 0;
  }

  .form__group:nth-child(6) button {
    right: -21px;
  }

  .form__subtitle {
    text-align: center;
    margin-bottom: 10px;
  }

  .form__input--location {
    text-align: center;
  }

  .form__title--text {
    text-align: center;
  }

  .form__input--text,
  .form__input--select {
    text-align: center;
  }

  .form__input--select {
    width: 125px;
  }

  .form-add {
    margin: 10px 0px 0px 0px;
  }

  .form-btn {
    margin: 10px 0px 0px 0px;
  }

  .number-minus,
  .number-plus {
    right: -16px;
  }
}

.webp .number-plus { background: url(../images/plus.webp); }

.webp .number-minus { background: url(../images/minus.webp); }